// App.vue styles
.main {
    width: 100dvw;
    height: 100dvh;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--ColorBackground);
    overflow-y: scroll;
}

.card {
    background-color: var(--ColorBackground);
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(20px);

    .card_title {
        border-bottom: 1px solid var(--ColorWhite);
        padding: 0 0 10px 0;
    }

    &.modal-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
}

.btn, button {
    background-color: var(--ColorPrimary);
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    color: var(--ColorWhite);
    cursor: pointer;
    transition: background-color 0.3s;

    &.btn--icon {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &:hover {
        background-color: var(--ColorPrimaryDark);
    }
}

.view {
    padding: 10px;
    margin-bottom: 80px;
}

.bckg-image {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: -1;
    object-fit: cover;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .header h1 {
        font-size: 2rem;
    }
}
