// App.vue styles
.main {
    width: 100dvw;
    height: 100dvh;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--ColorBackground);
    overflow-y: scroll;
}

.card {
    background-color: var(--ColorPrimaryDark);
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

    &.modal-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
}

.btn, button {
    background-color: var(--ColorPrimary);
    border: 1px solid var(--ColorPrimaryLight);
    padding: 8px 10px;
    border-radius: 5px;
    color: var(--ColorWhite);
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--ColorPrimaryDark);
    }
}

.view {
    padding: 10px;
}

@media (min-width: 768px) {
    .header h1 {
        font-size: 2rem;
    }
}
