@use "fonts.scss";
@use "normalize.scss";
@use "variables" as *;
@use "typography.scss";
@use "forms.scss";

@use "layout/footer.scss";
@use "layout/header.scss";

@use "elements/TextImageElement.scss";
@use "elements/TeaserElement.scss";

@use "vue.scss";

.section {
    max-width: var(--MaxWidth);
    margin: 50px auto;
    padding: 0 20px;
}

.section_content{
    max-width: var(--MaxWidthContent);
    margin: 0 auto;
}

//Styles to make the footer stick to the bottom of the page
body {
    min-height: 100dvh;
    min-width: 100dvw;
    width: 100%;
    background-color: #000000;
    overflow-x: hidden;
}
