@use "variables" as *;

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--ColorWhite);
}

h1, h2, h3, h4, h5{
    font-weight: 700;
    margin: 0;
}

h1{
    font-size: 35px;
}

p {
    margin: 0;

    &.text-left {
        text-align: left;
    }

    &.text-center {
        text-align: center;
    }

    &.text-right {
        text-align: right;
    }

    &.text-justify {
        text-align: justify;
    }
}

a {
    cursor: pointer;
    color: var(--ColorWhite);
    text-decoration: none;
}
