.header-card {
    display: flex;
    flex-direction: column;

    .app-header_actions {
        display: grid;
        gap: 10px;
        grid-template-columns: 40px 1fr 40px;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        .code-display {
            gap: 0.5rem;
            cursor: pointer;
            font-size: 15px;
        }
    }
}
