.namechanger {
    .card {

        .namechanger-hint {
            color: var(--ColorGray);
            background-color: var(--ColorBackground);
            opacity: 0.5;
            padding: 8px 10px;
            border-radius: 20px;
        }

        .button-row {
            display: flex;
            gap: 10px;
            justify-content: stretch;

            .btn {
                flex: 1;
            }
        }

        .input-row {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .label {
                font-weight: 600;
                color: var(--ColorText);
            }

            .name-input {
                padding: 8px 10px;
            }

            .datasecurity-hint {
                font-size: 10px;
                opacity: 0.3;
            }
        }
    }
}
